.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 1fr);
    grid-auto-rows: 100px;
    border: 3px solid blue;
    
}
.item{
    border: 3px solid red;
    padding: 5px;
}