.container{
    border: 3px solid blue;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 50px 50px;
    grid-auto-flow: column;
    gap: 10px;

}
.item{
    border: 3px solid red;
    padding: 5px;
}