*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightsalmon;
}
main{
    background-color: lightgreen;
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section {
    background-color: lightseagreen;
    height: 200px;
    width: 200px;
}