*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: gray;
}
header h1{
    
    text-align: center;
}
article main h2{
    padding: 15px;
    text-align: center;
}
article main p{
    margin: 15px;
    text-indent: 20px;
    text-align: justify;
}
nav{
    display: none;
}
nav ul {
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-top: 2px solid gray;
    background-color: rgb(87, 87, 87);
}
nav ul li a:hover{
    background-color: gray;
}
#icone{
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
#icone:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
@media screen and (min-width:768px) {
    
    body{
        background-color: lightgray;
    }
    header h1 {
        padding: 15px;
    }
    nav{
        display: block;
    }
    nav ul{
        display: inline-block;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.575);
    }
    header a:hover{
        background-color: black;
        color: white;
        
    }  
    #icone{
        display: none;
    } 
    #itens{
        margin: 0;
        padding: 0;
    }
    article{
        width: 768px;
        margin: auto;
        background-color: white;
        border-radius: 5px;
        padding-bottom: 20px;
        margin-top: 20px;
    }   
}
