*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: gray;
}
header h1{
    
    text-align: center;
}
article main h2{
    padding: 15px;
    text-align: center;
}
article main p{
    margin: 15px;
    text-indent: 20px;
    text-align: justify;
}
nav{
    display: none;
}
nav ul {
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-top: 2px solid gray;
    background-color: rgb(87, 87, 87);
}
nav ul li a:hover{
    background-color: gray;
}
#icone{
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
#icone:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
@media screen and (min-width:376px) and (max-width: 1200px) {
    body{
        background-color: lightgray;
    }
    header{
        height: 100px;
    }
    header h1 {
        padding: 15px;
    }
    header ul {
        display: inline-block;
    }
    header a {
        text-decoration: none;
        color: white;
        margin-left: 3px;
        background-color: rgba(0, 0, 0, 0.575);
        padding: 15px;
    }
    header a:hover{
        background-color: black;
        color: aqua;
        
    }
    article{
        margin-top: 15px;
    }
    article main{
        background-color: white;
        width: 95vw;
        margin: auto;
        border-radius: 5px;
        padding-bottom: 20px;
    }        
}
@media screen and (min-width: 1201px) {
    body{
        background-color: lightgray;
    }
    header{
        height: 100px;
    }
    header h1 {
        padding: 15px;
    }
    header ul {
        display: inline-block;
    }
    header a {
        text-decoration: none;
        color: white;
        margin-left: 3px;
        background-color: rgba(0, 0, 0, 0.575);
        padding: 15px;
        
    }
    header a:hover{
        background-color: black;
        
    }
    article{
        margin-top: 15px;
    }
    article main{
        background-color: white;
        width: 95vw;
        margin: auto;
        border-radius: 5px;
        padding-bottom: 20px;
    }        
}