.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  width: 500px;
  gap: 10px;
}
.caixa1 {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  background-color: red;
}
.caixa2 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: blue;
}
.caixa3 {
  grid-row: 2 / 4;
  grid-column: 3 / 5;
  background-color: green;
}
