.container{
    border: 3px solid blue;
    display: grid;
    height: 250px;
    grid-template: repeat(3, auto) / repeat(3, auto);
    gap: 10px;
    place-items: start center;
    place-content: space-between end;
}
.item{
    border: 3px solid red;
    padding: 5px;
}