@charset "UTF-8";

/*todas as demais mídias*/

/*Typical Device Breanpoints
pequenas telas: até 600px
Celular: 600px até 768px
tablet: 768 px até 992 px
desktp: 992 até 1200px
telas grandes: acima de 1200px
*/
@media print{

    img#phone {
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: block;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    
    img#phone {
    display: none;
    }
    img#tablet{
        display: block;
    }
    img#print{
        display: none;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#tv{
        display: none;
    }
    img#pc{
        display: block;
    }
}

@media screen and (min-width: 1201px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#tv{
        display: block;
    }
    img#pc{
        display: none;
    }
}