.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    border: 3px solid blue;
    gap: 20px;
    align-items: start;
    justify-items: normal;
    justify-content: normal;
    align-content: normal;
}
.item{
    border: 3px solid red;
    padding: 10px;
    
}