*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    height: 100vh;
    display: grid;
    grid-template: 80px 50px 1fr 40px / 1fr 250px;
    margin: auto;
    gap: 5px;
}
.topo{
    background-color: lightskyblue;
    grid-area: 1 / 1 / 1 / 4;
}
.menu{
    background-color: rgb(99, 153, 187);
    grid-area: 2 / 1 / 2 / 4;
}
.principal{
    background-color: rgb(64, 134, 177);
    grid-area: 3 / 1 / 3 / 3;
}
.secundario{
    background-color: rgb(24, 83, 119);
    grid-area: 3 / 2 / 3 / 3;
    color: white;
}
.rodape{
    background-color: lightskyblue;
    grid-area: 4 / 1 / 4 / 4;
}