@charset "UTF-8";

/*Estilo para impressoras*/

*{
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
html{
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    content: "Esse é um artigo de teste para impressão";
}