.container{
    border: 3px solid blue;
    display: grid;
    height: 250px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 100px 500px;
}
.item{
    border: 3px solid red;
    padding: 5px;
}